.App {
  text-align: center;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  margin: 20px;
  background: rgb(214, 213, 213);
  padding: 10px;
}

.foaming-btn {
  color: white;
  background-color: red;
}

.not-foaming-btn {
  color: white;
  background-color: green;
}

.unclassified {
  color: blue;
}
.culture-img {
  width: 200px;
}
